<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="static/style.css" />
    <title>Learn ASL</title>
  </head>
  <body>
    <div class="menu-bar">
      <a href="quickstart-guide" style="text-decoration: none;">
        <h1 class="logo" style="display: inline-block; text-align: left;">
          Learn<span>ASL</span>
      </h1>
      </a>
      <ul>
        <li>
          <a href="quickstart-guide">Home<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='our-history') }}">Our History</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='customer-stories') }}">Customer Stories</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="quickstart-guide">QuickStart Guide</a>
        </li>

        <li>
          <a href="dictionary">Dictionary</a>
        </li>

        <li>
          <a href="learn-a-z">Video Resources <i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='learn-a-z') }}">Learn A-Z</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='greetings') }}">Greetings</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='animals') }}">Animals</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='food') }}">Food</a></li>
            </ul>
          </div>
        </li>


        <li>
          <a href="children-books">Books<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='children-books') }}">Books for Children</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='teen-books') }}">Books for Teens</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='adult-books') }}">Books for Adults</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="contact-us">Additional Resources<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='contact-us') }}">Contact Us</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='research') }}">Research</a></li>
              <li><a href="faq">FAQ</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="hero">
      &nbsp;
    </div>
  </body>
</html>
