<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="static/style.css" />
    <title>Our History</title>
  </head>
  <body>
    <div class="menu-bar">
      <a href="quickstart-guide" style="text-decoration: none;">
        <h1 class="logo" style="display: inline-block; text-align: left;">
          Learn<span>ASL</span>
      </h1>
      </a>
      <ul>
        <li>
          <a href="quickstart-guide">Home<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='our-history') }}">Our History</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='customer-stories') }}">Customer Stories</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="quickstart-guide">QuickStart Guide</a>
        </li>

        <li>
          <a href="dictionary">Dictionary</a>
        </li>

        <li>
          <a href="learn-a-z">Video Resources <i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='learn-a-z') }}">Learn A-Z</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='greetings') }}">Greetings</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='animals') }}">Animals</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='food') }}">Food</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="children-books">Books<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='children-books') }}">Children Books</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='teen-books') }}">Teen Books</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='adult-books') }}">Adult Books</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="contact-us">Additional Resources<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='contact-us') }}">Contact Us</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='research') }}">Research</a></li>
              <li><a href="faq">FAQ</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="our-history">Our History</a></li>
      </ul>
    </div>
<div class="hero">
  &nbsp;
  <h1>Our History</h1>
  <img src="static/history.jpg" alt="ASL Alphabet">
  &nbsp;
  <p>  
    LearnASL was founded in 20XX by a group of passionate individuals aiming to provide a comprehensive platform for learning American Sign Language (ASL).
  </p>
   &nbsp;
  <p>
    Initially starting as a small initiative, the platform quickly gained traction and became a go-to resource for individuals interested in learning ASL.
  </p>
   &nbsp;
  <p>
    Over the years, our team has collaborated with ASL experts, educators, and the deaf community to create an inclusive and effective learning environment.
  </p>
   &nbsp;
  <p>
    Our commitment to promoting ASL as a language and fostering a community of learners remains at the core of our mission.
  </p>
   &nbsp;
  <p>
    Today, LearnASL continues to evolve, offering diverse resources, courses, and materials to make ASL accessible to everyone interested in learning this beautiful language.
  </p>
   &nbsp;
</div>


</body>
</html>
