<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="static/style.css" />
    <title>ASL Research</title>
  </head>
  <body>
    <div class="menu-bar">
      <a href="quickstart-guide">
        <h1 class="logo">Learn<span>ASL</span></h1>
      </a>
      <ul>
        <li>
          <a href="quickstart-guide">Home<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='our-history') }}">Our History</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='customer-stories') }}">Customer Stories</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="quickstart-guide">QuickStart Guide</a>
        </li>

        <li>
          <a href="dictionary">Dictionary</a>
        </li>

        <li>
          <a href="learn-a-z">Video Resources <i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='learn-a-z') }}">Learn A-Z</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='greetings') }}">Greetings</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='animals') }}">Animals</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='food') }}">Food</a></li>
            </ul>
          </div>
        </li>


        <li>
          <a href="children-books">Books<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='children-books') }}">Children Books</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='teen-books') }}">Teen Books</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='adult-books') }}">Adult Books</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="contact-us">Additional Resources<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="{{ url_for('dropdown', selected_item='contact-us') }}">Contact Us</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='research') }}">Research</a></li>
              <li><a href="{{ url_for('dropdown', selected_item='blogs') }}">Blogs</a></li>
              <li><a href="faq">FAQ</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="research">Additional Resources</a></li>
        <li><a href="research">Research</a></li>
      </ul>
    </div>
    <div class="hero">
      &nbsp;
      <h1>Research on American Sign Language (ASL)</h1>
      &nbsp;
    <p>
      ASL is a rich and diverse language, and ongoing research continually explores its linguistic structure, sociolinguistics, cognitive aspects, and more. Here are a few areas where ASL research contributes significantly:
    </p>
      &nbsp;
    <h2>Structure and Syntax</h2>
    <p>
      Research delves into the grammatical structure of ASL, examining syntax, sentence formation, and the unique features that distinguish it from spoken languages.
    </p>
      &nbsp;
    <h2>Sociolinguistics and Culture</h2>
    <p>
      Understanding the social and cultural implications within the Deaf community and how it influences language use and variation in ASL is a focal point in sociolinguistic research.
    </p>
      &nbsp;
    <h2>Cognitive Aspects and Acquisition</h2>
    <p>
      Investigating the cognitive processes involved in acquiring and using ASL, particularly in children, sheds light on language development and communication.
    </p>
      &nbsp;
    <h2>Technology and Accessibility</h2>
    <p>
      Research explores the integration of technology to enhance accessibility for the Deaf and Hard of Hearing, including sign language recognition and communication tools.
    </p>
      &nbsp;
    <h2>Neuroscience and Sign Language</h2>
    <p>
      Neuroscience studies aim to comprehend how sign languages are processed in the brain and the neural mechanisms underlying sign language comprehension and production.
    </p>
    <p>
      Stay updated on the latest ASL research findings through academic journals, conferences, and specialized institutions dedicated to Deaf studies and sign language research.
    </p>
  </div>

</body>
</html>
